.header {
  background: #CCD6DA;
  box-shadow: 0 -15px 15px rgba(0,0,0,0.2)inset;
  clear: both;
  height: 90px;
  min-width: 1000px;
  width: 100%;
  border-bottom:5px solid #6e6151;
}
#masthead {
  margin: 0 auto;
  width: 1000px;
}

#logo {
  float: left;
  height: 52px;
  margin: 0 15px 0 0;
  width: 320px;

}

#logo img {
  border: 0 none;
  position: relative;
  top: 10px;
  z-index: 200;
}

.search {
    margin: 100px;
}
