<div id="{{mojit_view_id}}" class="mojit">
 <div class="container">
  <div class="form-bg">
   <form method="post">
    <h2>Employee Login</h2>
    <p><input type="text" placeholder="Username" id="txt" name="username"></p>
    <p><input type="password" placeholder="Password" id="pass" name="password"></p>
    <button id="button1"></button>
   </form>
</div>
</div>
</div>
