<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Attendance Tasks</h2>
                    <div id="content_box">
                        <div id="attendance-tasks">
                            <ul>
                                <li><a href="#">Manage Attendance</a> 
                                    <form method="post" action="/search" id="searchbox-attendance">
                                        <input name="param" type="text" size="40" placeholder="Search an Employee here..." />
                                    </form>
                                </li>
                                <li><a href="/admin/manage-emp">Upload Attendance</a></li>
                                <li><form action="/admin/attendancetasks/dateAttendance" method="post">
                                    <input type="submit" value="Upload Attendance">
                                    <input type="text" name="date" id="datevalue" value="" required>
                                     <div class="yui3-skin-sam">
                                     <div id="mycalendar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
