<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Attendance Tasks</h2>
                    <div id="content_box">
                        <ul>
                            <li>{{mssg}}</li>
                            <li><a href="/admin/attendanceTasks">Back to attendance tasks</a></li>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
