<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Attendance Tasks</h2>
                    <div id="content_box">
                        <form id="uploadform" action="/admin/attendancetasks/upload" method="post" enctype="multipart/form-data">
                            <p>Attendance for date : </p>
                            <input type="text" value="{{date}}" name="date">                       
                            <ul>
                                <li><input type="radio" value="allpresent" name="attendanceAction" />Mark All Present</li>
                                <li><input type="radio" value="holiday" name="attendanceAction" >Mark as Holiday</li>
                                <li><input type="radio" value="uploadcsv" name="attendanceAction">Upload CSV
                                    <input id="fileupload" type="file" name="csvFile">
                                </li>
                            </ul>
                            <input type="submit" value="Submit">
                        </form>
                        <!--button id="uploadButton">Upload</button-->
                    <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
