<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#tab1">Employee details</a></li>
                    </ul>

                    <div id="tab1" class="tabcontent">
                        <h3>Edit Employee Details</h3>
                        <div class="form">
                        <h3>Personal Details</h3>

                            {{#personl}}
                            <div class="form_row">
                                <label>First Name:</label>
                                <input type="text" class="form_input2" value={{fname}} id="firstName" />
                                <brek></brek>
                                <label>Last Name:</label>
                                <input type="text" class="form_input2" value={{lname}} id="lastName" />
                            </div>

                          <!--  <div class="form_row">
                                <label>Father's Name:</label>
                                <input type="text" class="form_input2" id="fatherName" placeholder= />
                                <brek></brek>
                                <label>Mother's Name:</label>
                                <input type="text" class="form_input2" id="motherName" />
                            </div>
-->
                            <div class="form_row">
                                <label>Date of Birth:</label>
                                <input type="text" class="form_input2" id="dob" value={{dob}} />
                                <brek></brek>
                                <label>Date of Joining:</label>
                                <input type="text" class="form_input2" id="doj" value={{doj}} />
                            </div>

                            <div class="form_row">
                                <label>Employee ID:</label>
                                <input type="text" class="form_input2" id="empId" value={{empid}} />

                                <label>UUID:</label>
                                <input type="text" class="form_input2" id="uuid" value={{uuidlink}} />
                            </div>

                            <div class="form_row">
                                <label>Designation:</label>
                                <input type="text" class="form_input2" id="designation" value={{designation}} />
                                <label>Blood Group:</label>
                                <input type="text" class="form_input2" id="bloodGroup" value={{bloodgrp}} />

                            </div>

                            <div class="form_row">
                                <label>Email ID:</label>
                                <input type="text" class="form_input2" id="emailId" value={{emailid}} />

                                <label>Employement Status:</label>
                                <select class="form_select" name="" id="empStatus">
                                    <option value="0">Employed</option>
                                    <option value="1">Retired</option>
                                </select>
                            </div>
                            {{/personl}}

                            <h3>Address Details</h3>
                            {{#addr}}
                            <div class="form_row">
                                <label3>Permanent Address Details</label3>
                            </div>

                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="permAdd" value={{perm_add}} />
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="permCity" value={{perm_city}} />
                                <brek></brek>
                                <label>State:</label>
                                <input type="text" class="form_input2" id="permState" value={{perm_state}} />
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="permCountry" value={{perm_country}} />
                                <brek></brek>
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="permZipcode" value={{perm_zipcode}} />
                            </div>

                            <div class="form_row">
                                <label3>Correspondence Address Details</label3>
                            </div>


                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="currAdd" value={{curr_add}} />
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="currCity" value={{curr_city}} />
                                <brek></brek>
                                <label>State:</label>
                                <input type="text" class="form_input2" id="currState" value={{curr_state}} />
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="currCountry" value={{curr_country}} />
                                <brek></brek>
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="currZipcode" value={{curr_zipcode}} />
                            </div>
                            {{/addr}}

                            <h3>Communication Details</h3>
                            {{#comm}}
                            <div class="form_row">
                                <label>Skype ID:</label>
                                <input type="text" class="form_input2" id="skypeId" value={{skypeId}} />

                                <label>Phone Number:</label>
                                <input type="text" class="form_input2" id="phoneNo" value={{phoneNo}} />
                            </div>
                            {{/comm}}
<!--Login Details
                            <div class="form_row">
                                <label>Roles:</label>
                                <select class="form_select" name="" id="role">
                                    <option value="0">Employee</option>
                                    <option value="1">Admin</option>
                                </select>
                                <label>Password:</label>
                                <input type="text" class="form_input2" id="password" placeholder={{pass}} />

                            </div>

-->

                            <div class="form_row">
                                <input type="submit" class="form_submit" value="Submit" id="submit_button" />
                            </div>

                            <div class="clear"></div>

                            <input type="hidden" value={{main_role}} id="RoleCheck"/>
                            <input type="hidden" value={{allow_access}} id="EmpCheck"/>

                        </div>
                    </div>
                </div>
            </div>


            {{#if admin}}
            {{> admin_sidebar }}
            {{/if}}
            <div class="clear"></div>
            </div>

    </div>
</div>
