<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#PersonalDetails">Peronsal details</a></li>
                        <li><a href="#AddressDetails">Address details</a></li>
                        <li><a href="#CommunicationDetails">Communication details</a></li>
                        <li><a href="#FamilyDetails">Family details</a></li>
                    </ul>

                    <div id="PersonalDetails" class="tabcontent">
                        <h3>Peronsal Details</h3>
                        <div class="form">

                            <div class="form_row">
                                <label>First Name:</label><label2>{{fname}}</label2>
                                <label>Last Name:</label><label2>{{lname}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Email ID:</label><label2>{{emailid}}</label2>
                                <label>Employee ID:</label><label2>{{empid}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Blood Group:</label><label2>{{bloodgrp}}</label2>
                                <label>Employee Status:</label><label2>{{empstatus}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Date of Birth:</label><label2>{{dob}}</label2>
                                <label>Date of Joining:</label><label2>{{doj}}</label2>

                            </div>


                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="AddressDetails" class="tabcontent">
                        <h3>Address Details</h3>
                        <div class="form">
                            {{#addr}}
                            <div class="form_row">
                                <label>Permanent Address:</label><label2>{{perm_add}}</label2>
                            </div>

                            <div class="form_row">
                                <label>City:</label><label2>{{perm_city}}</label2>
                                <label>State:</label><label2>{{perm_state}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Country Code:</label><label2>{{perm_country}}</label2>
                                <label>Zipcode:</label><label2>{{perm_zipcode}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Current Address:</label><label2>{{curr_add}}</label2>
                            </div>

                            <div class="form_row">
                                <label>City:</label><label2>{{curr_city}}</label2>
                                <label>State:</label><label2>{{curr_state}}</label2>

                            </div>

                            <div class="form_row">
                                <label>Country:</label><label2>{{curr_country}}</label2>
                                <label>Zipcode:</label><label2>{{curr_zipcode}}</label2>

                            </div>
                            {{/addr}}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="CommunicationDetails" class="tabcontent">
                        <h3>Communication Details</h3>
                        <div class="form">

                            <div class="form_row">
                                <label>Skype ID:</label><label2>{{skypeId}}</label2>
                                <label>Phone Number:</label><label2>{{phoneNo}}</label2>
                            </div>
                            <div class="form_row">
                                <label>Personal Email ID:</label><label2>{{personalId}}</label2>


                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="FamilyDetails" class="tabcontent">
                        <h3>Family Details</h3>
                        <div class="form">

                            {{#family}}
                            <div class="form_row">
                                <label>{{family_relation}} name:</label><label2>{{family_name}}</label2>
                                <label>Date of birth:</label><label2>{{family_dob}}</label2>
                            </div>
                            <div class="form_row">
                                <label>Dependent:</label><label2>{{family_dependent}}</label2>
                                <label>Blood Group:</label><label2>{{family_bloodGroup}}</label2>
                            </div>
                            {{/family}}

                        </div>

                    </div>
                    <div class="clear"></div>

                    <div class="edit_link">
                        <label><a href="/profile/{{uuidlink}}/edit">Edit Profile</a></label>
                    </div>
                </div>
            </div>


            {{#if admin}}
            {{> admin_sidebar }}
            {{/if}}

        </div>

    </div>
</div>
