/* PAGINATOR */
.pager {
    text-align: right;
    font-family: Georgia, Garamond, serif;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 17px;
}

.pager-label {
    font-weight: bold;
    margin-right: 12px;
}

.pager .yui3-pagview-link-page, .pager .yui3-pagview-link-page-list {
    margin:  0 12px 0 0;
    cursor: pointer;
    color: #8F8F8F;
    border: none;
    padding: 0;
    width: auto;
}

.pager .yui3-pagview-link-page-active {
   font-weight: bold;
   background-color: transparent;
   color:#000;
}