//
// Variables
// --------------------------------------------------



$headerFontStyle: none;
$webfont: "Dancing Script";
$linkColor: #8f8f8f;
$linkHoverColor: #000000;
$btnColor: #8f8f8f;
$btnHoverColor: #222222;
$navFontSize: 13px;
$navFontStyle: uppercase;
$textCaps :uppercase;
$navWeight: 400;
$navLinkColor: #8f8f8f;
$navLinkHoverColor: #000000;
$selectedNavLinkColor: #000000;
$selectedNavLinkBgColor: #f8f8f8;

// fonts declaration
//-----------------------

$bodyFonts :QuadraatWeb, serif;
$bodyFontsSize : 16px;

$fontQuadReg:QuadraatWeb, serif;
$fontQuadRegIta: QuadraatWeb-Ita, serif;

$fontQuadBold:QuadraatWeb-Bold, serif;
$fontQuadBoldIta:QuadraatWeb-BoldIta, serif;

$fontQuadDemi:QuadraatWeb-Demi, serif;
$fontQuadDemiIta:QuadraatWeb-DemiIta, serif;


$fontProxReg : "ProximaNovaAltRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontProxSbold:"ProximaNovaSemibold","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontProxBold: "ProximaNovaBold","Helvetica Neue",Helvetica,Arial,sans-serif;
$fontProxEbold:"ProximaNovaExtrabold","Helvetica Neue",Helvetica,Arial,sans-serif;



// Global values
// --------------------------------------------------


// Grays
// -------------------------
$white:                 #fff !default;
$black:                 #000 !default;

$gray:                  #E0E0E0 !default;
$grayLight:				#E6E6E6 !default;
$grayDark:              #B0B0B0 !default;
$grayDarker:            #8E8E8E !default;

//purples
$purple:				#823696 !default;
$purpleLight:			#AD4CC7 !default;
$purpleDark:			#6B1E80 !default;
$purpleDarker:			#370245 !default;

// Accent colors
// -------------------------
$blue:                  #3766c1 !default;
$blueDark:				#234FA5 !default;
$blueDarker:			#153F90  !default;
/*changes needed above for blue color*/

$green:                 #8ac22e !default;
$greenDark:			  	#71A025 !default;
$greenDarker:			#2E8D40 !default;
$purple:                #823696 !default;


// Css Defined for colors
//----------------------------



.gray {color:$grayDarker}

// Scaffolding
// -------------------------
$bodyBackground:        $white !default;
$textColor:             $grayDark !default;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25 !default; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85 !default; // ~12px
$fontSizeMini:          $baseFontSize * 0.75 !default; // ~11px

$paddingHead:          0px 0px 30px !default; // 44px
$paddingSubHead:       2px 10px !default;  // 26px
$paddingMini:          0px 6px !default;   // 22px
$paddingbtn:		   10px 15px !default;
$paddinglarge:         15px 25px !default;
$popup:					 30px;

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;


/*Page Heading/Headlines Typography*/

$headline : 20px;
$subHeadline : 16px;
$subHeadline2 : 24px;
$subHeadline1 : 14px;

$subHeadline4 : 16px;
$subHeadline5 : 15px;

/*Body Content*/

$small : 12.5px;

/**Utilities */

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

