<div class="sidebar" id="sidebar">
    <h2>Admin Tasks</h2>

    <ul>
        <li><a href="http://localhost:8666/admin/add-emp">Add New Employee</a></li>
        <li><a href="http://localhost:8666/admin/manage-emp">Manage Employees</a></li>
        <li><a href="/admin/attendancetasks">Attendance Tasks</a></li>
    </ul>
</div>


<div class="clear"></div>