<div class="header1">
    <div class="title"><a href="#">{{PanelName}}</a></div>

    <div class="header_right">Welcome {{RoleName}}, <a href="#" class="settings">Settings</a> <a href="#" class="logout">Logout</a> </div>

    <div class="menu">
        <ul>
            <li><a href="http://localhost:8666/emp_profile" class={{class1}}>Home page</a></li>
            <li><a href="http://localhost:8666/emp_profile" class={{class2}}>My Profile</a></li>
            <li><a href="http://localhost:8666/v1/emp-portal/uuid/leaves.json" class={{class3}}>My Leaves</a></li>
        </ul>
    </div>

</div>