<div id="{{mojit_view_id}}" class="header">
  <section id="masthead">

      <div id="logo">
       <img src="/static/Header/assets/images/logo.png">

      </div>
<!--
   <div id="searchbox">
       <input type="text" placeholder="Search..." required>
       <input type="button" value="Search">
   </div>
   on keypress , value =13
   -->

      <!-- New Search Box -->
      <form method="post" action="/search" id="searchbox">
          <input name="param" type="text" size="40" placeholder="Search an Employee here..." />
      </form>


   <div id="homelink">

   </div>
  </section>
</div>