<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->

                    <h2>Leaves</h2>
                    <div id="content_box">
                        <p>Number of leaves will be displayed here....Work in Progress... </p>
                        <div class="clear"></div>

                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
