#start_date {
    float : left;
    padding: 8px;
    font-weight: bold;
    font-size:12px;
    color: #535E66;
    background: #dde8f0; text-shadow:1px 1px #F2F8FC;


}
#end_date {
    float : right;
    padding-right: 500px;
    padding: 8px;
    font-weight: bold;
    font-size:12px;
    color: #535E66;
    background: #dde8f0; text-shadow:1px 1px #F2F8FC;

}
#end_date_calendar { float : right}
#start_date_calendar { float : left}
#end_date_text{
    height: 30px;
    width: 100px;
}
table tr td:empty {
    width: 100px;
}

#start_date_text{
    height: 30px;
    width: 100px;
}
#attendance_calendar{
    clear : both;
    padding : 0 0 ;
    width : 98%;
    padding: 8px;
    font-weight: bold;
    font-size:12px;
    background: #dde8f0;
    text-shadow:1px 1px #F2F8FC;
}
dt { font-weight: bold; }
.sel { background-color: #FF4; }
