<!DOCTYPE HTML>
<html>
<head>
{{#meta}}
<meta name="{{name}}" content="{{content}}">
{{/meta}}
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="{{{mojit_assets}}}/css/index.css"/>
{{{top}}}
</head>

<body class="wrapper yui3-skin-gbee">
{{{header}}}
{{#if body}}
{{{body}}}
{{else}}
<div> An error occured on the server. Please try again!</div>
{{/if}}
{{{bottom}}}
</body>
</html>
